.blocks-events-calendar{
  .calendar-actions{
    margin-bottom: 20px;
  }
  .calendar-key{
    list-style-type: none;
    list-style: none;
    display: inline-flex !important;
    flex-direction: row;
    padding: 5px !important;
    margin:  20px 0 20px 0 !important;
    li{
      b{
        display: inline-block;
        padding: 0;
        margin: 0 2px 0 0;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        vertical-align: middle;
      }
      padding: 0 10px;
      font-size: 12px;
    }
  }
  $border-color: #797979;
  $border-radius: 1px;
  $border-thickness: 1px;
  .calendar{
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    // border: solid 1px $border-color;
    margin-bottom: 40px;
    border-radius: $border-radius;
    table-layout: fixed;
    @media (max-width: 599px) {
      border: none;
      tbody{
        display: block;
        tr{
          display: block;
          flex-wrap: wrap;
          &:first-child{
            display: none;
          }
          td{
            display: block;
            flex: 1;
            height: auto !important;
            &.calendar-day{

            }
            &.calendar-day-np{
              display: none;
            }
            &.calendar-day-empty{
              display: none;
            }
          }
        }
      }
    }
    .calendar-row{
      // border-bottom: solid 1px $border-color;
      .calendar-day-head{
        text-align: center;
        // border: solid 1px $border-color;
        // border-left: solid 1px $border-color;
        // border-right: solid 1px $border-color;
        font:{
          size: 14px;
        }
      }
      .calendar-day-np{
        border: solid $border-thickness $border-color;
        border-radius: $border-radius;
        // border-left: solid 1px $border-color;
        // border-right: solid 1px $border-color;
        background-color: #F4F4F4;
      }
      .calendar-day{
        position: relative;
        border: solid $border-thickness $border-color;
        border-radius: $border-radius;
        // border-left: solid 1px $border-color;
        // border-right: solid 1px $border-color;
        text-align: right;
        padding: 24px 5px 5px;
        height: 120px;
        font:{
          size: 12px;
        }
        vertical-align: top;
        @media (max-width: 599px) {
          border: solid 1px #ccc;
          margin-bottom: 15px;
        }
        &.today{
          background-color: rgba(0,0,0,0.1);
          font-weight: bold;
          color: #000;
        }
        .day-number{
          position: absolute;
          top: 5px;
          right: 10px;
          @media (max-width: 599px) {
            right: auto;
            left: 8px;
          }
        }
        .event{
          position: relative;
          line-height: 1.2em;
          border: solid 1px #ccc;
          border-top: solid 5px #3C8EA0;
          border-radius: $border-radius;
          overflow: hidden;
          padding: 2px 5px;
          text-align: left;
          background-color: #fff;
          &:hover{
            border: solid 1px #666;
          }
          @media (max-width: 599px) {
            min-height: 50px;
          }
          a{
            text-decoration: none;
            line-height: 1em;
            color: #777;
            display: block;
            width: inherit;
            height: inherit;
          }
          &:before{
            content: '';
            position: absolute;
            height: 10px;
            top: 0px;
            left: 0px;
            right: 0px;
          }
        }
      }
    }
  } 
  .acf-block-preview &{

  }
}





